<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="restaurant.name" class="form-control" id="title" placeholder="Restaurant name here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">About</label>
    <div class="col-sm-10">
        <input type="text" ng-model="restaurant.about" class="form-control" id="year" placeholder="Describe the restaurant"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
        <input type="text" ng-model="restaurant.address" class="form-control" id="director" placeholder="Restaurant address here"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
        <input type="text" ng-model="restaurant.phone" class="form-control" id="plot" placeholder="Restaurant phone here"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>