<a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Restaurant</a>
<table class="table movietable">
    <tr>
        <td><h3>All Restaurants</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="restaurant in restaurants">
        <td>{{restaurant.name}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewRestaurant({id:restaurant.objectId})">View</a>
            <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
        </td>
    </tr>
</table>